<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body>

<center>
  </center>
  <center>
  <img src="http://cdn.shopify.com/s/files/1/0224/1915/files/unicorn.jpg?21414">
  <h2> Xanga </h2>
  </center>
  <ul id="messageList"></ul>


  <h4>Add a message</h4>
  <p>Room Name: <input type="room" id="room" value="cannon"></p>
  <p>Name: <input type="text" id="name" value="Input"></p>
  <p>Message: <input type="message" id="message" value=""></p>
  <center>
  <button id="add-message">Troll</button>
  </center>
  <script src="/js/cannon.js"></script>
</body>
</html>